# Le serveur doit suivre les liens symboliques :
Options + FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

#--------------------------------------------------
# Règles de réécriture d'URL :
#--------------------------------------------------

RewriteRule ^ancien_fichier.html$ http: //fac2PDF/login.php [L]
RewriteCond % {REQUEST_FILENAME} !-f 
RewriteCond % {REQUEST_FILENAME} !-d
RewriteRule . /index.php 


</IfModule>
